
 .negrito{
    font-size: 20px;
    text-align: center;
 }
 .imagem{
    width: 100%;
 }
 .beneficios {
   background: #ffffff;
   padding: 20px;
 }
 .imagembeneficios{
   width:50%;
 }
 .principal {
   background-color: #cccccc;
 padding:30px;
 }

 .titulocentralizado{

   
 }